JIRA_SITE=yourcompany.atlassian.net
JIRA_EMAIL=you@yourcompany.com

DAILY_TARGET_HOURS=5
NUDGE_AFTER_HOURS=2
ALERT_AFTER_HOURS=3
ALERT_MAX_PER_DAY=3
ALERT_LAST_HOUR=20
MAX_ROWS=5
WORKDAY_START=09:00

# LOG_COMMAND=/usr/local/bin/my-logger
